@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  background-image: url("../images/blackboard.jpg");
  color: white;
  font-family: 'Love Ya Like A Sister', cursive;
}

.wraper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 20%;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 533px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__title {
  text-align: center;
  letter-spacing: 4px;
}

@media (min-width: 533px) {
  .header__title {
    width: calc(100% / 3);
  }
}

@media (min-width: 576px) {
  .header__title {
    line-height: 100%;
  }
}

.header__info {
  text-align: center;
}

@media (min-width: 533px) {
  .header__info {
    width: calc(100% / 3);
  }
}

@media (min-width: 576px) {
  .header__info {
    line-height: calc(100% + 16px);
  }
}

.header__category {
  text-align: center;
}

@media (min-width: 533px) {
  .header__category {
    width: calc(100% / 3);
  }
}

@media (min-width: 576px) {
  .header__category {
    line-height: calc(100% + 16px);
  }
}

.game {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}

.hangman {
  position: relative;
}

.hangman__img {
  position: absolute;
  bottom: 0;
  left: -20px;
  height: 170px;
  width: 170px;
  opacity: 1;
}

@media (min-width: 410px) {
  .hangman__img {
    bottom: -20px;
    height: 280px;
    width: 220px;
  }
}

@media (min-width: 533px) {
  .hangman__img {
    bottom: -25px;
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 576px) {
  .hangman__img {
    bottom: -20px;
  }
}

.password {
  height: 200px;
  margin: 0 2px 10px 32vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 576px) {
  .password {
    margin-bottom: 20px;
  }
}

.password__content {
  height: 30px;
}

@media (min-width: 533px) {
  .password__content {
    text-align: center;
  }
}

.password__letter {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  text-align: center;
}

.password__letter:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  display: block;
  border-bottom: 2px solid white;
}

.keyboard {
  margin-bottom: 10px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 576px) {
  .keyboard {
    margin-bottom: 0;
  }
}

.keyboard__letter {
  height: 30px;
  width: 30px;
  margin: 3px;
  padding: 5px;
  border: 1px solid white;
  text-align: center;
  line-height: 20px;
  border-radius: 50px;
}

@media (min-width: 410px) {
  .keyboard__letter {
    height: 40px;
    width: 40px;
    line-height: 30px;
  }
}

@media (min-width: 533px) {
  .keyboard__letter {
    height: 30px;
    width: 30px;
    margin: 1px 2px;
    line-height: 20px;
  }
}

.list-buttons {
  margin: 5px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-buttons__random {
  margin-left: 10px;
}

@media (min-width: 533px) {
  .list-buttons__random {
    position: absolute;
    bottom: 10px;
    left: 0;
  }
}

@media (min-width: 576px) {
  .list-buttons__random {
    position: static;
  }
}

.list-buttons__change-category {
  margin-right: 10px;
}

@media (min-width: 533px) {
  .list-buttons__change-category {
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}

@media (min-width: 576px) {
  .list-buttons__change-category {
    position: static;
  }
}

button {
  height: 45px;
  width: 150px;
  margin-left: 10px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 50px;
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  background-color: transparent;
}

@media (min-width: 410px) {
  button {
    margin-top: 20px;
  }
}

.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-image: url("../images/blackboard.jpg");
  z-index: 1;
}

.popup__exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}

.popup__title {
  margin: 15vh 0 20px;
  text-align: center;
}

.popup__list {
  list-style: none;
  text-align: center;
}

.popup__item {
  margin: 7px 0;
}

.popup__item:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */