.header
    width: 100%
    height: 25%
    padding: 10px 15px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    &__title
        text-align: center
        letter-spacing: 4px
    &__info
        text-align: center
    &__category
        text-align: center